<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link style sheet-->
    <link rel="stylesheet" href="../css/style.css">

    <!-- * -->
    <link rel="icon" href="../assets/icons/favicon.ico">


    <title>Sai Kumar Rapeti | Portfolio</title>
</head>
<body>
    <header>
        <div class="brandLogo">
            Portfolio
        </div>

        <nav>
            <a href="#about" class="active">About</a>
            <a href="#projects">Project</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <div class="container">
        <section class="hero">
            <div class="LeftPart">
                <h1 class="title">I am Saikumar Rapeti</h1>
                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis maiores quo necessitatibus nostrum voluptas distinctio.</p>
                
                <button >Github</button>
                <button >LinkedIn</button>
                <button >Download CV</button>
                
            </div>
            <div class="RightPart">
                <img src="../assets/images/profile-modified.png" alt="profile_pic" class="ProfilePic" >
            </div>
        </section>

        <main>
            <section class="about">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ab voluptatum unde quaerat accusantium veniam, amet itaque, quia qui et similique architecto doloribus! Fugiat recusandae eaque, commodi impedit repudiandae delectus? Cum unde error beatae distinctio nesciunt veritatis est aperiam, quibusdam voluptatibus expedita sunt vel iure blanditiis, corporis voluptatum deleniti. Quae?</p>
            </section>

            <section class="skills">
                <h2>Skills</h2>
                <div class="skills-images">
                    <img class="skill-icon" src="../assets/images/image 29.png" alt="skill-icon">
                    <img class="skill-icon" src="../assets/images/image 30.png" alt="skill-icon">
                    <img class="skill-icon" src="../assets/images/image 33.png" alt="skill-icon">
                    <img class="skill-icon" src="../assets/images/image 35.png" alt="skill-icon">
                    <img class="skill-icon" src="../assets/images/image 37.png" alt="skill-icon">
                    <img class="skill-icon" src="../assets/images/image 46.png" alt="skill-icon">
                </div>
            </section>
            <section class="projects">
                <h2>projects</h2>
                <div class="projects-container">
                    <div class="project1">
                        <div class="LeftPart">
                            <h3 class="title">Netflix</h3>
                            <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis architecto doloremque dicta laboriosam accusamus, sapiente nihil et sint maxime officia, nesciunt ratione, aut quod in perspiciatis officiis reprehenderit deserunt eaque.</p>
                            <h4><span>Skills: </span>Html , Css ,JavaScript</h4>
                        </div>
                        <div class="RightPart">
                            <img src="../assets/images/image 48.png" alt="project1-image">
                        </div>
                    </div>


                    <div class="project1">
                        <div class="LeftPart">
                            <h3 class="title">To Do List</h3>
                            <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis architecto doloremque dicta laboriosam accusamus, sapiente nihil et sint maxime officia, nesciunt ratione, aut quod in perspiciatis officiis reprehenderit deserunt eaque.</p>
                            <h4><span>Skills: </span>Html , Css ,JavaScript</h4>
                            
                        </div>
                        <div class="RightPart">
                            <img src="../assets/images/image 48.png" alt="project1-image">
                        </div>
                    </div>
                </div>
            </section>
        </main>

        
    </div>
    <footer>
        <p>All copy rights reserved - Saikumar Rapeti, 2023.</p>
      
    </footer>
</body>
</html>